* {
  margin: 0;
  box-sizing: border-box;
}
.bg {
  background-image: url("./assets/singa2.webp");
  height: 100vh;
  width: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.form {
  background-color: rgb(255,255,255, 0.7);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.form > * {
  border-radius: 4px;
}

.login-box {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  max-width: 400px;
  min-width: 300px;
  padding: 40px;
  /* transform: translate(-50%, -50%); */
  background: rgba(255,255,255,.7);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: .5s;
}

.button {
  width: 100%;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  background-color: #3eaaed;
  color: white;
  border: none;
}